
body {
    background: linear-gradient(180deg, darkred , violet);
    header{
        text-align: center;
        h1{
            text-decoration: underline;
            color: antiquewhite;
        }
        p{
            color: antiquewhite;
        }
        
    }
    main{
        text-align: center;
    }
}